.css-7r8d6e-MuiDialogActions-root {
  display: none !important;
}

.css-j88s13-MuiPickersToolbar-root-MuiDatePickerToolbar-root {
  display: none !important;
}

/* .css-169iwlq-MuiCalendarPicker-root {
  boxshadow: 3px 2px 10px 5px #888888 !important;
}

.css-1pw9y5c {
  background: "red" !important;
  z-index: 9999;
} */
